<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instalook-User.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC83D4782296D9A00035471C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC83D48F2296D9A10035471C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC83D49A2296D9A10035471C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
